<header>
    <app-navbar></app-navbar>
</header>
<main>
    <div class="main-div">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit consequuntur iure itaque accusantium id, incidunt officiis delectus, mollitia dolor enim deleniti ab. Placeat tempore atque ab minima, doloribus iusto repellat.</p>
    </div>
</main>
<footer>
    <div class="main-div">
        <p class="mt-3 mx-auto text-secondary text-center texto">Esta pagina se encuentra actualmente en desarrollo.</p>
    </div>
</footer>