.navbar{
    background-color: rgba(0,0,0,.023)!important;
}

.OnScroll{
    position: fixed!important;
    padding: 15px 0!important;
    box-shadow: 0 15px 25px 0 rgba(0,0,0,.057)!important;
    backdrop-filter: blur(4px);
    -webkit-animation: slide-in-bottom-header .65s cubic-bezier(.23,1,.32,1) both;
    animation: slide-in-bottom-header .65s cubic-bezier(.23,1,.32,1) both
}

.OnStart{
    padding: 30px 0;
    position: absolute;
    width: 100%;
    display: flex;
}


@media(max-width: 970px) {
    .OnStart {
        display: none
    }
}